.info-explain {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    font-size: 11px;
    font-weight: var(--medium);
    color: var(--gray04);
    text-align: left;
}

.next-button {
    width: 100vw;
    max-width: 430px;
    margin-left: -15px;
    margin-top: auto;
    margin-bottom: 10%;
    border: none;
    height: 60px;
    color: white;
    font-weight: var(--semibold);
    font-size: 15px;
}

.next-button.active {
    background-color: var(--main-coral); /* 원하는 색상 */
    cursor: pointer;
}
  
.next-button.inactive {
    background-color: var(--gray03); /* 비활성화 색상 */
    cursor: not-allowed;
}
