/* 모달 오버레이 */
.custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* 모달 컨테이너 */
.custom-modal {
    background-color: #fff;
    padding: 13px 11px;
    gap: 13px;
    border-radius: 8px;
    width: 305px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-message1 {
    font-size:18px;
    color:black;
    font-weight: var(--bold);
    line-height: 140%;
}

.modal-message2 {
    font-size:15px;
    color: var(--gray06);
    font-weight: var(--medium);
    line-height: 140%;
}

/* 모달 내 메시지 */
.custom-modal p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #333;
}

/* 모달 버튼 영역 */
.modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: 7px;
}

.modal-cancel-btn {
    width: 138px;
    max-width: 135px;
    height: 45px;
    background-color: white;
    color: var(--gray05);
    display: flex;
    padding: 13px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: 1px solid var(--gray02);
    border-radius: 7px;
    font-weight: var(--semibold);
}

.modal-confirm-btn {
    width: 140px;
    height: 45px;
    display: flex;
    background-color: var(--gray07);
    color: white;
    padding: 13px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border: 1px solid var(--gray02);
    border-radius: 7px;
    font-weight: var(--semibold);


}

/* 버튼 hover 시 색상 변경 */
.modal-buttons button:hover {
    background-color: #0056b3;
}
