/* 기본 설정 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #ffffff;
  box-sizing: border-box;
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 
  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *::before, *::after {
  box-sizing: inherit;
}
/* 모바일 화면 크기 강제 적용 */
#root {
  width: 100%;
  max-width: 430px; /* 모바일 최대 크기 */
  height: 100dvh;
  margin: 0 auto; 
  /*원래 vh였는데 dvh로 제가 변경했습니다 */
  /* height: 100vh;
  margin: 0; */
  overflow: hidden;
}


